<ion-app>
  <ion-tabs>

    <ion-tab tab="Home">
      <ion-header translucent>
        <ion-toolbar>
          <ion-title style="color: aquamarine;">Home</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content fullscreen class="ion-padding">
        <h1>Home</h1>
      </ion-content>
    </ion-tab>

    <ion-tab tab="Galerie">
      <ion-header translucent>
        <ion-toolbar>
          <ion-title style="color: aquamarine;">Galerie</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content fullscreen class="ion-padding">
        <h1>Galerie</h1>
      </ion-content>
    </ion-tab>

    <ion-tab tab="About">
      <ion-header translucent>
        <ion-toolbar>
          <ion-title style="color: aquamarine;">About</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content fullscreen class="ion-padding">
        <h1>About</h1>
      </ion-content>
    </ion-tab>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Home" [routerLink]="['/galerie']">
        <ion-label>Home</ion-label>
        <ion-icon name="musical-note"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="Galerie">
        <ion-label>Galerie</ion-label>
        <ion-icon name="videocam"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="About">
        <ion-label>About</ion-label>
        <ion-icon name="game-controller"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>